# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest Cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Build Files
build/
# dist/

# Matplotlib Cache
.matplotlib/

# Temporary Files
*.tmp